@import url('https://fonts.googleapis.com/css2?family=ADLaM+Display&family=Reem+Kufi&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'ADLaM Display', cursive;
    font-family: 'Reem Kufi', sans-serif;
    background: linear-gradient(rgb(22, 56, 150), rgb(59, 88, 205), rgb(16, 78, 153));
    /* font-weight: bold; */
    color: rgb(222, 217, 217);
    letter-spacing: 2.5px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
}

h1 {
    box-shadow: 1px 1px 15px 1px rgb(255, 242, 242);
}

.registercontainer {
    /* margin-top: 10px; */
    /* margin-left: 500px; */
    height: auto;
    justify-content: center;
    align-items: center;
    align-content: center;
    /* width: 34%; */
    border-radius: 14px;
    background: linear-gradient(rgb(15, 16, 53, 0.9), rgb(26, 36, 78, 0.8), rgb(45, 58, 98), rgb(4, 16, 52));
    /* background: rgb(0, 0, 0,0.5); */
    box-shadow: 0px 4px 4px 10px rgb(233, 178, 153);

}


.registercontainer h1 {
    text-align: center;
    color: white;

}

.errMessage {
    color: red;
    font-size: 14px;
}

.registercontainer form {
    margin-top: 14px;
}

.sameclass {
    padding: 5.5px;
    width: 100%;
    background: rgb(237, 235, 235);
    border: none;
    color: rgb(5, 5, 5);
    font-size: 15px;
    border-radius: 7px;
    margin-top: 2px;
}

.sameclass:hover {
    box-shadow:
        15px 15px 110px -2px rgb(246, 0, 0),
        15px 15px 100px -2px rgb(255, 0, 128);
}

span {
    font-size: 18px;
    margin-left: 4px;
}

.example {
    font-size: 14px;
    color: orange;
    font-weight: none;
}

.btn {
    width: 50%;
    padding: 5px;
    cursor: pointer;
    font-size: 19px;
    margin-left: 120px;
    background: rgb(29, 41, 78);
    color: rgb(245, 245, 245);
    font-weight: bolder;
    border-radius: 14px;
    margin-bottom: 20px;
}

.btn:hover {
    box-shadow:
        15px 15px 100px -2px rgb(255, 0, 128);

}

.box {
    margin-left: 10px;
    font-size: 17px;
    cursor: pointer;
}

.box:hover {
    box-shadow:
        15px 15px 110px -2px rgb(255, 9, 9);
}

#country {
    /* width: 50%; */
    padding: 4px;
    border-radius: 7px;
    cursor: pointer;
    font-size: 17px;
}

select {
    background-color: rgba(17, 6, 6, 0.556);
    color: white;

}

option {
    background: rgb(8, 20, 58);
    color: white;
}